In [8]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
dataset=pd.read_csv("Placement.csv")

In [5]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [6]:
quan=dataset[['sl_no', 'ssc_p', 'hsc_p',
       'degree_p', 'etest_p', 'mba_p', 'salary']]

In [7]:
qual=dataset[['gender', 'ssc_b', 'hsc_b', 'hsc_s',
        'degree_t', 'workex', 'specialisation', 
       'status']]

In [16]:
des=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%","Q3=75%","Q4=100%"], columns=quan.columns)
for columnname in quan:
    des[columnname]["Mean"]=dataset[columnname].mean()
    des[columnname]["Median"]=dataset[columnname].median()
    des[columnname]["Mode"]=dataset[columnname].mode()[0]
    des[columnname]["Q1=25%"]=dataset.describe()[columnname]["25%"]
    des[columnname]["Q2=50%"]=dataset.describe()[columnname]["50%"]
    des[columnname]["Q3=75%"]=dataset.describe()[columnname]["75%"]
    des[columnname]["Q4=100%"]=dataset.describe()[columnname]["max"]

In [17]:
des

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1=25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2=50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3=75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4=100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0